@font-face {
	font-family: Roboto_300;
	src: url(/src/assets/fonts/Roboto-Light.ttf);
}

@font-face {
	font-family: Roboto_400;
	src: url(/src/assets/fonts/Roboto-Regular.ttf);
}

@font-face {
	font-family: Roboto_700;
	src: url(/src/assets/fonts/Roboto-Bold.ttf);
}

$fonts: (
	'Light': Roboto_300,
	'Regular': Roboto_400,
	'Bold': Roboto_700,
);
