@use '../baseStyles/colors' as *;
@use '../mixins/flex-center' as *;

.search-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: map-get($colors, 'input-white');
	// width: 450px;
	width: 80vw;
	max-width: 400px;
	height: 40px;
	margin-inline: auto;
	border-radius: 20px;
	// border-radius: 5px;
	overflow: hidden;

	position: relative;
	z-index: 2;

	// box-shadow: 5px 5px 5px #0000007f;

	margin-block: 20px;
	.search-input {
		background-color: transparent;
		border: none;
		outline: none;

		width: 100%;
		height: 100%;
		padding-inline: 20px;

		color: map-get($colors, 'text-black');
	}
	.search-button {
		@include flex-center;
		// background-color: map-get($colors, 'purple');
		border: none;

		width: 50px;
		height: 100%;

		svg {
			height: 45%;
			width: auto;
			fill: map-get($colors, 'purple');
		}
	}
}

@media screen and (min-width: 600px) {
	.search-container {
		margin-block: 40px 20px;
	}
}
